*{
    margin: 0px ;
    padding: 0px ;
}
.logo{
    font-size: 40px;
    color: green;
}
.mark{
    background-color: black;
}
.headz{
    color: white;
    padding-top: 8px;
}
.bor{
    border-bottom: 2px solid green;
    padding-bottom: 9px;
}
body{
    background-image: url(../images/Lights\ on\ Black\ Background.png);
}
.two{
    background-color: pink;
    width: 500px;
text-align: center;
}
.inside{
    text-align: center;
    

}
.insidea{
    text-align: center;
    border: 2px groove green;
}
.place{
    width: 230px;
    height: 30px;
}
.del{
    margin-left: 20px;
}
.edit{
    margin-left: 10px;
    width: 80px;
}